<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogToConsole="true" >

  <targets>
    <target xsi:type="AsyncWrapper" name="AsyncTraceFile">
      <target name="TraceFile" xsi:type="File" fileName="trace.log" />
    </target>
    <target xsi:type="AsyncWrapper" name="AsyncConsole">
      <target name="console" xsi:type="Console" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="AsyncTraceFile" />
    <logger name="*" minlevel="Trace" writeTo="AsyncConsole" />
  </rules>
</nlog>